DATABASE_URL=
PORT=4000
JWT_SECRET=example
REDIS_URL=redis://localhost:6379
ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_FIRSTNAME=
ADMIN_LASTNAME=
GLOBAL_DEFAULT_LEAD_TIME_DAYS=


DB_PASSWORD=
DB_USER=
DB_NAME=
DB_HOST=
